img {
    border-radius: 50%;      /* Round shape */
    border: 5px solid white;
    margin-top: 20px;
    width: 150px;            /* Fixed width */
    height: 150px;           /* Fixed height */
    object-fit: cover;       /* Photo ko bina khinche fit karne ke liye */
}